@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/stil.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <div>
        <a href="~/Administrator/Registracija">Registracija Novog Menadzera</a>
        <br />
        <a href="~/Administrator/SviKorisnici">Svi Korisnici</a>
        <br />
        <a href="~/Administrator/SumnjiviTuristi">Sumnjivi Turisti</a>
        <br />
        <br />
        <a href="~/Home/Index">Index</a>
    </div>
</body>
</html>
