@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/stil.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <div>
        <br />
        <a href="~/Menadzer/KreiranjeAranzmana">Kreiranje Aranzmana</a>
        <br />
        <a href="~/Menadzer/PregledAranzmana">Pregled Aranzmana</a>
        <br />
        <a href="~/Menadzer/KreiranjeSmestaja">Kreiranje Smestaja</a>
        <br />
        <a href="~/Menadzer/PregledSmestaja">Pregled Smestaja</a>
        <br />
        <a href="~/Menadzer/KreiranjeSmestajneJedinice">Kreiranje Smestajne Jedinice</a>
        <br />
        <a href="~/Menadzer/PregledSmestajnihJedinica">Pregled Smestajnih Jedinica</a>
        <br />
        <a href="~/Menadzer/MojeRezervacije">Moje Rezervacije</a>
        <br />
        <a href="~/Menadzer/MojiKomentari">Moji Komentari</a>
        <br /><br />
        <a href="~/Home/Index">Index</a>
    </div>
</body>
</html>
