@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/stil.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <h2>Kreiranje Smestajne Jedinice</h2>
    <div>
        <form action="~/Menadzer/KreirajSmestajnuJedinicu" method="post">
            <table>
                <tr>
                    <td>Dozvoljen Broj Gostiju:</td>
                    <td>
                        <input type="text" name="DozvoljenBrojGostiju" />
                    </td>
                </tr>
                <tr>
                    <td>Ljubimci (da/ne):</td>
                    <td>
                        <input type="text" name="Ljubimci" />
                    </td>
                </tr>
                <tr>
                    <td>Cena:</td>
                    <td>
                        <input type="text" name="Cena" />
                    </td>
                </tr>
                <tr>
                    <td>Naziv Smestaja:</td>
                    <td><input type="text" name="NazivSmestaja" /></td>
                </tr>
                
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Kreiraj" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <br />
        @ViewBag.Message
    </div>
    <div>
        <br />
        <a href="~/Menadzer/Index">Index</a>
    </div>
</body>
</html>
