@using TuristickaAgencija.Models
@model Smestaj

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/stil.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <h2>Modifikovanje Smestaja</h2>
    <br />
    <form action="~/Menadzer/ModifikujDatiSmestaj" method="post">
        <table>
            <tr>
                <td>Tip Smestaja:</td>
                <td>
                    <input type="hidden" name="Naziv" value=@Model.Naziv />
                    <input type="hidden" name="Obrisan" value=@Model.Obrisan />
                    <input list="tipovi" name="Tip" />
                    <datalist id="tipovi">
                        <option value="Hotel"></option>
                        <option value="Motel"></option>
                        <option value="Vila"></option>
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Broj Zvezdica:</td>
                <td>
                    <input list="zvezdice" name="BrojZvezdica" />
                    <datalist id="zvezdice">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Bazen (da/ne):</td>
                <td><input type="text" name="Bazen" /></td>
            </tr>
            <tr>
                <td>Spa Centar (da/ne):</td>
                <td><input type="text" name="SpaCentar" /></td>
            </tr>
            <tr>
                <td>Prilagodjeno Za Invalide (da/ne):</td>
                <td><input type="text" name="PrilagodjenoZaInvalide" /></td>
            </tr>
            <tr>
                <td>Wifi (da/ne):</td>
                <td><input type="text" name="Wifi"/></td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <input type="submit" value="Modifikuj" />
                </td>
            </tr>
        </table>
    </form>
    <br />
    @ViewBag.Message
    <br />
    <div>
        <a href="~/Menadzer/Index">Index</a>
    </div>
</body>
</html>
